<!doctype html>
<span>K:\9k1.us&gt; </span><span>d</span><span>i</span><span>r</span><span>
 Volume in drive K is <a href="http://www.rummik.com">RUMMIK</a>
 Volume Serial Number is 2905-1989

 Directory of <a href="http://www.rummik.com">K:</a>\<a href="http://9k1.us/">9k1.us</a>

31.01.2101 23:59    &lt;DIR&gt;          <a href=".">.</a>
31.01.2101 23:59    &lt;DIR&gt;          <a href="http://www.rummik.com">..</a>
{{list}}

      {{files}} File(s)                       0 bytes
      {{dirs}} Dir(s)    9 896 704 161 611 776 bytes free

</span><span>K:\9k1.us&gt; </span><div></div>

<style>
html, body {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

body {
	font-family: sys, fixedsys, monospace;
	white-space: pre;
	color: #bbb;
	background: #000;
}

span + span {
	animation: print 1s step-end;
}

span:nth-child(2) { animation-duration: 1.1s; }
span:nth-child(3) { animation-duration: 1.2s; }
span:nth-child(4) { animation-duration: 1.3s; }
span:nth-child(5) { animation-duration: 1.5s; }
span:nth-child(6) { animation-duration: 1.7s; }

div {
	content: '';
	width: 1ch;
	height: 1em;
	vertical-align: top;
	display: inline-block;
	animation: move 1.7s step-end, blink 1s infinite step-end;
	animation-delay: 0s, 1.8s;
	position: absolute;
	background: #bbb;
	left: 11ch;
}

a {
	color: #eee;
	text-decoration: none;
}

@keyframes print {
	from { opacity: 0 }
}

@keyframes blink {
	50% { background: transparent }
}

@keyframes move {
	from { top: 0; left: 11ch }
	65% { left: 12ch }
	70% { left: 13ch }
	75% { left: 14ch }
	85% { left: -1ch }
	to { top: 0; }
}

/* http://www.fixedsysexcelsior.com/ */
@font-face {
	font-family: sys;
	src: url('sys.ttf');
	-webkit-font-smoothing: aliased;
	font-smooth: never;
}
</style>
<script src="pf.js"></script>
